name: lab_movil_2222
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # firebase
  # install other firebase dependencies using https://firebase.flutter.dev/
  firebase_core: "^1.4.0"
  firebase_analytics: "^8.2.0"
  firebase_auth: "^3.0.1"
  cloud_firestore: "^2.4.0"
  cloud_functions: "^3.0.1"
  firebase_storage: ^10.0.2


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  provider: ^5.0.0
  url_launcher: ^6.0.8
  video_player: ^2.1.14
  better_player: ^0.0.73
  just_audio: ^0.8.0
  flutter_staggered_grid_view: ^0.4.0
  flutter_markdown: ^0.6.2
  file_picker: ^4.0.0
  rxdart: ^0.27.1

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/
    - assets/backgrounds/
    - assets/gifs/
    - assets/images/
    - assets/backgrounds/decorations/
    - assets/backgrounds/background-decorations/
    - assets/videos/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Korolev
      fonts:
        - asset: assets/fonts/Korolev-Medium.otf
          weight: 500
        - asset: assets/fonts/Korolev-Light.otf
          weight: 300
        - asset: assets/fonts/Korolev-Bold.otf
          weight: 700
    - family: GothamNarrow
      fonts:
        - asset: assets/fonts/Gotham-Narrow-Book.otf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
